.app-header {
    background: rgb(255, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    &__img {
        width: 18%;
        height: auto;
    }
    &__title {

        font-size: 25px;
        font-weight:400;
        color: white;
        margin-right: 30px;
    }
}

